body {
    background-image: url('../Images/cities.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    height: 100vh;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(240, 242, 245, 0.95);
    border: 1px solid #ccc;
}

.game-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 16px;
    color: #1890ff;
}

.game-rules {
    margin-bottom: 16px;
}

.game-rules .ant-collapse-content {
    background-color: rgba(213, 219, 222, 0.9);
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #91d5ff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.game-rules .ant-collapse-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #096dd9;
}

.game-rules p {
    margin: 6px 0;
    line-height: 1.5;
}

.random_city {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.guessedNumbers {
    margin-bottom: 15px;
}

.checkingBtn {
    width: 100%;
}

.weather_result {   
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    max-height: 280px; 
    overflow-y: hidden; 
}

.result-box {   
    padding: 5px; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 130px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.correct {
    background-color: rgb(61, 79, 61);
}

.incorrect {
    background-color: rgb(139, 62, 62);
}

@media (max-width: 750px) {
    .container {
        padding: 15px;
    }

    .result-box {
        width: 45%;
        height: 100px; 
    }
}
